/* ...
*= require_self
*= require_tree .
*/

$link: #66A1D1;
$highlight: #7BC3FF;

@import 'normalize';

html, body {
	font-family: 'Work Sans', sans-serif;
}
.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix {
	clear:both;
}

input, textarea {
	display:block;
}	
.mini-screen {
	display: none;
}

textarea{
	width: 100%;
	max-width: 100%;
	height: 9em;
	border-radius: 3px;
	appearance: none;
	box-shadow: none;
	font-size: 16px;
	padding: 3px;
	border: solid 1px $link;
	transition: box-shadow 0.3s, border 0.3s;
	margin: 1em 0px;

}

input[type="text"], input[type="password"], input[type="email"]{
	border-radius: 3px;
	width: 100%;
	appearance: none;
	box-shadow: none;
	font-size: 18px;
	padding: 3px;
	border: solid 1px $link;
	transition: box-shadow 0.3s, border 0.3s;
	margin: 1em 0;
}

input:focus, textarea:focus{
	border: solid 1px $highlight;
	box-shadow: 0 0 3px 1px $highlight;
}

input[type="submit"]{
	background-color: transparent;
	color: $link;
	border: solid 1px $link;
	border-radius: 4px;
}

a {
	text-decoration:none;
	color: $link;
}

a:hover {
	color: $highlight;
	text-decoration: underline;
}

#logo {
	color: $link;
	text-decoration:none;
	margin-top: .5rem;
	margin-left: 5%;
	float:left;
	text-transform: uppercase;
	border: thin solid $link;
	padding: 5px;
	border-radius: 5px;
}

#links {
	float:right;
}

header{
	nav {
		float:right;
		margin-top: 1rem;
		margin-right: 5%;
		font-size: 13px;

		ul {
			list-style-type: none;
			padding: 0;
			margin:0;

			li {
				display: inline;
				padding: .5rem;
				border-radius:5px;
				
				a{
					color: $link;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}
	}
}

.wrapper{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.narrow-wrapper{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.inline{
	display:inline !important;
	margin-left: .5em;
}

.alert {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.title{
	line-height: .3em;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}

.hidden{
	display:none !important;
}
@media screen and (max-width: 667px) and (orientation: portrait){
	#logo {
		display: none;
	}

	nav {
		float: none;
		width: 100%;
		text-align: center;
	}

	.mini-screen{
		display: inline;
	}
}

@import 'highlight';