$link: #66A1D1;
$highlight: #7BC3FF;

#post{

	a {
		color: $link;
		border: solid 1px $link;
		padding: 5px;
		border-radius: 4px;
	}
	#blog-title{
		display:inline;
	}

	#socialbtns{
		
		font-size: 1em;
		display: inline;
		margin-top: 1rem;
		display: inline;
		float: right;
		a {	
			padding:0 0 .5em .5em;
			color: $link;
			border: none;
		}
		a:hover{
			color: $highlight;
		}
	}

	a:hover{
		text-decoration: none;
	}

	#blog{
		padding-top: 2em;
		p{
			border:none;
		}
	}

	.special-buttons{
		margin-top: .75em;
		text-align: center;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -1em;
	}

	.decoration{
		display: block;
		margin:.75em 0;
		padding:0;
		width: 4em;
		height: 2px;
		border: none;
		border-radius: 1px;
		background-color: $highlight
	}
	.content {
		margin-bottom: 0;

		margin-left: 3%;
		a {
		float:right;
		margin-right: 1em;
		}
	}
}